:root{
  --primary-color:#3d801b;
}
* {
    margin: 0;
    padding: 0;
  }
  body{
    background-color: bisque;
  }
  html{
    scroll-behavior: smooth;
  }
  section{
    display: grid;
    align-items: center;
    place-items: center;
    min-height: 100vh;
    padding: 25px;
  }
  li{
    list-style: none;
  }
  /*Links*/
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    text-align: center;
  }
 /* Botão pro topo */
.scroll-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: var(--primary-color);
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}
  /*Nav-Bar*/
  nav{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 998;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
  }
  nav.sticky{
    background: var(--primary-color);
    border-radius: 0px 0px 30px 30px;
    padding: 20px 0;
  }
  nav.sticky .logo{
    color: #fff;
  }
  nav.sticky .nav-list li a {
    color: var(--primary-color);
    background-color: #ffffff;
    border-radius: 25px;
    padding: 10px;
  }
  nav .navbar{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Playfair', serif;
    align-items: center;
    background: transparent;
    height: 8vh;
    padding-top: 18px;
  }
  .logo{
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-family: 'Playfair', serif;
    font-size: 45px;
  }
  
  
  .nav-list {
    list-style: none;
    display: flex;
    font-size: 20px;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    background-color: var(--primary-color);
    border: 3px solid transparent;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    
  }
  .nav-list li:hover{
    transform: translateY(-10px);
    transition: .3s;
  }
  
  /*Mobile*/
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 15vh;
      right: 0;
      width: 50vw;
      min-height: 75vh;
      background: #14a2ea;
      border: 5px solid #fff;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  /*Conteudo-Principal*/
  .cont-principal{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px
  }
  .text{
    color: #000;
    font-family: 'Playfair', serif;
    margin-left: 15%;
  }
  .text h1{
    font-size: 50px;
    font-style: italic;
  }
  .text h2{
    font-size: 30px;
  }
  .pushable {
    margin-top: 15px;
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    outline-color: deeppink;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: hsl(226, 25%, 69%);
    border-radius: 8px;
    filter: blur(2px);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(
      to right,
      #3d801b 0%,
      #3d801b 8%,
      #3d801b 92%,
      #3d801b 100%
    );
  }
  
  .front {
    display: block;
    position: relative;
    border-radius: 8px;
    background: var(--primary-color);
    padding: 16px 32px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .pushable:hover {
    filter: brightness(110%);
  }
  
  .pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }
  /*Habilidades*/
  #hab{
    background-color: rgb(248, 207, 155);
  }
  .skills-content{
    display: flex;
    flex-wrap: wrap;
  }
  .porc{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 70px;
    color: var(--primary-color);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  }
  /*Projetos*/
  #projetos{
    background-color: bisque;
  }
  #projetos h1{
    margin: 30px 0px 0px 0px;
  }
  .text-s{
    color: #000;
    font-size: 50px;
    font-family: 'Playfair', serif;
    margin: 20px 100px 20px 100px;
  }
  .list-projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .img-projects{
    list-style-type: none;
    width: 500px;
    height: 250px;
    padding: 35px;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    cursor: pointer;
    gap: 10px;
  }
  .img-projects:hover{
    transition: .5s;
    /* border-radius: 0%; */
    box-shadow: 0px 0px 20px 5px var(--primary-color);
    transform: scaleY(10px);
  }
  /*Formação*/
  #formacao{
    background-color: rgb(248, 207, 155);
  }
  #formacao li{
    font-size: 40px;
  }
/*Hidden*/
.hidden{
    opacity: 0;
    transition: all 1.2s;
  }
  .-off{
    opacity: 1;
    transition: all 1.2s;
  }
  footer{
    color: #fff;
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  /*animação*/
  [data-anime]{
    opacity: 0;
    transition: 1s;
  }
  [data-anime="down"]{
    transform: translate3d(0,-100px,0);
  }
  [data-anime="up"]{
    transform: translate3d(0,100px,0);
  }
  [data-anime="left"]{
    transform: translate3d(-100%,0x,0);
  }
  
  [data-anime="right"]{
    transform: translate3d(50px,0,0);
  }
  [data-anime].animate{
    opacity: 1;
    transform: translate3d(0,0,0);
  }


  
  